<%- include('parts/layout') %>
<%- include('parts/nav') %>
<div class="row">
  <div class="col col-12 col-md6">
    <div class="img-container">
   <img src="/<%= product.filename%>">
   <a href="/product/<%=product._id  %>">
     <span><%=product.title %></span>
   </a>
    </div>
  </div>
  <<div class="col col-12 col-md-6">
    <form action="/cart" method="POST">
      <input type="number" name="amount" class="form-control form-control-sm"">
      <button type="submit" class="btn btn-outline-primary form-control form-control-sm ">add to cart</button>
    </form>

  </div>
</div>
<%- include('parts/footer') %>
